[branch]
	autosetuprebase = always
[rerere]
	enabled = true
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[http "https://gopkg.in"]
	followRedirects = true
[core]
	editor = /usr/bin/vim
